@media screen and (max-width: 1200px) {


  .header {
    width: 90% !important;
    height: 75px !important;
  }

  .logo {
    max-height: 55px;
  }

  .menu-link {
    font-size: 15.5px !important;
  }

  .contact-us {
    font-size: 16px !important;
  }

  .main-section {
    width: 92% !important;
    gap: 35px;
  }

  .add-task {
    padding: 30px 35px;
  }

  .add-task-heading {
    font-size: 21px !important;
    word-spacing: 2px !important;
  }

  input {
    margin-top: 15px !important;
  }

  .icon {
    top: 63% !important
  }

  .input-custom-box {
    height: 45px;
    width: 100%;
  }

  .label-text {
    font-size: 16px !important;
  }

  input {
    font-size: 14px;
  }

  .custom-radio {
    font-size: 15px !important;
  }

  .custom-radio-label {
    font-size: 14px !important;
  }

  .add-btn {
    font-size: 15px !important;
    padding: 10px 26px;
  }

  .task-cards {
    margin-top: 30px;
    gap: 24px;
  }

  .p-text {
    font-size: 15px;
  }

  .task-icons {
    gap: 15px;
  }

  .p-task {
    gap: 13px;
  }

  .edit-task {
    font-size: 18px;
  }

  .priority-icon {
    font-size: 12px !important;
  }

  .date {
    font-size: 15px !important;
  }

  .c-icon {
    font-size: 18px;
  }

  .pagination {
    margin-top: 25px;

  }

  .pagination-button {
    font-size: 16px;
    height: 34px;
    width: 34px;
  }

  .cp-section>p {
    font-size: 16px;
    font-weight: 700;
  }
}



@media screen and (max-width: 900px) {


  .header {
    width: 80% !important;
    height: 75px !important;
  }

  .logo {
    max-height: 55px;
  }

  .menu {
    display: none !important;
  }

  .hamburger-menu {
    display: block;
  }

  .menu-icon {
    color: rgb(255, 0, 4);
    font-size: 28px;

  }

  .main-section {
    width: 80% !important;
    gap: 35px;
    flex-wrap: wrap;
  }

  .add-task {
    padding: 30px 35px;
    width: 100%;

  }


  .add-btn {
    font-size: 16px !important;
    padding: 12px 26px;
  }
  .task-section{
    width: 100%;
  }
}

/* Mobile view  */
@media screen and (max-width: 650px) {


  .header {
    width: 90% !important;
    height: 70px !important;
  }

  .logo {
    max-height: 50px;
  }
  .menu-icon {
    font-size: 24px;
  }

  .main-section {
    width: 90% !important;
    gap: 35px;
    padding-top: 40px;
    flex-wrap: wrap;
  }

  .add-task {
    padding: 30px 35px;
    width: 100%;

  }


  .add-btn {
    font-size: 16px !important;
    padding: 12px 26px;
  }
  .task-section{
    width: 100%;
  }
  .task-cards {
    margin-top: 30px;
    gap: 24px;
  }

  .p-text {
    font-size: 15px;
  }

  .task-icons {
    gap: 15px;
  }

  .p-task {
    gap: 13px;
  }

  .edit-task {
    font-size: 18px;
  }

  .priority-icon {
    font-size: 12px !important;
  }

  .date {
    font-size: 15px !important;
  }

  .c-icon {
    font-size: 18px;
  }

  .pagination {
    margin-top: 25px;

  }

  .pagination-button {
    font-size: 16px;
    height: 34px;
    width: 34px;
  }

  .cp-section>p {
    font-size: 16px;
    font-weight: 700;
  }

  /* ===================Completed Task Section ==================== */
  .completed-task-section{
    width: 90%;
  }
  .completed-heading{
    font-size: 20px;
  }
  .sort-section2{
    padding: 15px 0px;
    margin-bottom: 5px !important;
  }
  .sort-btn2{
    width: 33%;
    padding: 13px 0px;
    font-size: 14px;
   
  }
  .sort-btn2:hover{
    background-color: #01032d;
    color: white;
    font-size: 15px;
}

}
@media screen and (max-width: 530px) {


  .header {
    width: 90% !important;
    height: 70px !important;
  }
  
  .logo {
    max-height: 50px;
  }
  .menu-icon {
    font-size: 24px;
  }

  .main-section {
    width: 90% !important;
    gap: 35px;
    padding-top: 40px;
    flex-wrap: wrap;
  }

  .add-task {
    padding: 20px 25px;
    width: 100%;

  }
  .add-task-heading{
    font-size: 20px;
    font-weight: 700;
    padding: 5px 0px;
}


  .add-btn {
    font-size: 15px !important;
  }
  .task-section{
    width: 100%;
  }
  .sort-section{
    gap: 15px;
  }
  .sort-btn{
    padding: 9px 0px;
    font-size: 15px;
  }
  .task-cards {
    margin-top: 15px;
  }
  .task-box{
    border-radius: 3px;
    padding: 10px 20px;
}

.title-text{
  font-size: 15px;
}
  .p-text {
    font-size: 14px;
  }
/* ==============icons ================ */
  .task-icons {
    gap: 10px;
  }

  .p-task {
    gap: 8px;
  }
  .edit-task {
    font-size: 14px;
  }
  .priority-icon {
    font-size: 9px !important;
  }
  .d-icon{
    cursor: pointer;
    margin-left: 7px;
    font-size: 16px;   
  }
  .d-icon:hover{
    font-size: 18px;
  }
  .date {
    font-size: 13px !important;
  }
  .c-icon {
    font-size: 17px;
  }
  .u-icon{
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
   }
  .d-section{
    gap: 14px;
  }
  .u-btn{
   font-size: 14px;
  }
  .desc-text{
    font-size: 14px;
  }
  .pagination {
    margin-top: 20px;
    gap: 15px;
  }

  .pagination-button {
    font-size: 15px;
    height: 30px;
    width: 30px;
  }
/* new section  */
.line{
  width: 100%;
  height: 10px;
  background-color: #000000;
  padding: 5px 0px;
}
 

  /* ===================Completed Task Section ==================== */
  .completed-task-section{
    width: 90%;
  }
  .completed-heading{
    font-size: 18px;
  }

  .sort-btn2{
    width: 33%;
    padding: 13px 0px;
    font-size: 13px;
   
  }
  .sort-btn2:hover{
    background-color: #01032d;
    color: white;
    font-size: 14px;
}
.cp-section>p {
  font-size: 14px;
  font-weight: 700;
}
.cards-section{
  gap: 20px;
}
.task-box2{
  border-radius: 4px;
  padding: 20px; 
}
.icon-set{
  gap: 20px;
}
.cp-section{
  gap: 16px;
}
.titleC{
  font-size: 15px;
  font-weight: 600;
}
.titleC > span{
  margin-left: 10px;
}
.cp-icon{
  font-size: 10px;
 
}
.dC-icon{
  font-size: 17px;
}
.dC-icon:hover{
  font-size: 19px;
}
.no-task{
  background-color: #051b1e;
  padding: 10px 0px;
  font-size: 16px;
}
}

@media screen and (max-width: 420px) {


  .header {
    width: 92% !important;
    height: 65px !important;
  }
  
  .logo {
    max-height: 40px;
  }
  .menu-icon {
    font-size: 23px;
  }

  .main-section {
    width: 92% !important;
    gap: 20px;
    padding-top: 28px;
    flex-wrap: wrap;
  }

  .add-task {
    padding: 10px 13px;
  }
  .add-task-heading{
    font-size: 13px;
    font-weight: 700;
    padding: 4px 0px;
    text-transform: uppercase;
}

.text-input{
  margin: 10px 0px;
}
.input-custom-box{
  height: 40px;
  width: 100%;
  background-color: rgb(243, 248, 254) !important;
}
.label-text{
  font-weight: 600 !important;
  font-size: 14px !important;
}
input{
  font-weight: 500;
  font-size: 14px;
  padding: 3px 15px;
  margin-top: 10px;
}
.icon{
  font-size: 14px;
}
.custom-radio{
  font-size: 9px;
}
  .add-btn {
    font-size: 13px !important;
    padding: 9px 18px;
    margin-bottom: 5px;
  }
  .task-section{
    width: 100%;
  }
  .sort-section{
    gap: 10px;
  }
  .sort-btn{
    padding: 6px 0px;
    font-size: 13.5px;
    font-weight: 600;
  }
  .task-cards {
    margin-top: 5px;
  }
  .task-box{
    border-radius: 2px;
    padding: 4px 14px;
}

.title-text{
  font-size: 13px;
  text-transform: uppercase;
}
  .p-text {
    font-size: 12px;
  }
/* ==============icons ================ */
  .task-icons {
    gap: 10px;
  }

  .p-task {
    gap: 7px;
  }
  .edit-task {
    font-size: 14px;
  }
  .priority-icon {
    font-size: 8px !important;
    border: 1.5px solid rgb(0, 5, 47);

  }
  .d-icon{
    cursor: pointer;
    margin-left: 7px;
    font-size: 13px;   
  }
  .d-icon:hover{
    font-size: 14px;
  }
  .date {
    font-size: 10.5px !important;
  }
  .c-icon {
    font-size: 14px;
  }
  .u-icon{
    font-size: 15px;
    margin-left: 7px;
    cursor: pointer;
   }
  .d-section{
    gap: 7px;
  }
  .u-btn{
   font-size: 12px;
  }
  .desc-text{
    font-size: 11px;
  }
  .pagination {
    margin-top: 20px;
    gap: 7px;
  }

  .pagination-button {
    font-size: 12px;
    height: 25px;
    width: 25px;
  }
/* new section  */
.line{
  width: 100%;
  height: 7px;
  background-color: #000000;
  padding: 5px 0px;
}
 

  /* ===================Completed Task Section ==================== */
  .section-2{
    width: 100%;
    padding-bottom: 30px;background: rgb(144,144,144);
    background: linear-gradient(90deg, rgba(144,144,144,1) 0%, rgba(71,71,180,1) 58%, rgb(0, 38, 46) 100%);
    }
  .completed-task-section{
    width: 92%;
  }
  .completed-heading{
    font-size: 16px;
  }
  .sort-section2{
    display: flex;
    padding: 15px 0px;
    gap: 10px;
    justify-content: center;
    margin-bottom: 0px;
}
  .sort-btn2{
    width: 33%;
    padding: 8px 0px;
    font-size: 13px;
  }
  .sort-btn2:hover{
    background-color: #01032d;
    color: white;
    font-size: 14px;
}
.cp-section>p {
  font-size: 14px;
  font-weight: 700;
}
.cards-section{
  gap: 13px;
}
.task-box2{
  border-radius: 2.5px;
  padding: 16px 12px; 
}
.icon-set{
  gap: 12px;
}
.cp-section{
  gap: 10px;
}
.titleC{
  font-size: 12px;
  font-weight: 600;
  text-transform:uppercase ;
}
.titleC > span{
  margin-left: 5px;
}
.cp-icon{
  font-size: 8px;
  border: 1.5px solid black;
 
}
.dC-icon{
  font-size: 14px;
}
.dC-icon:hover{
  font-size: 15px;
}
.cp-section>p{
  font-size: 12px;
  font-weight: 700;
}
.no-task{
  background-color: #051b1e;
  padding: 10px 0px;
  font-size: 14px;
}
}
